
%p
=@user.name
%p
=@user.email
%p
=@user.id

%p
  -if user_signed_in?
    #follow_user
      =render :partial => "follows/follow_user", :locals => {:user => @user}
  -else
    You must log in to follow someone!


%p
#follower
  Follows:
  - for fol in @user.all_following
    =fol.name
    
%p
#followable
  Followed by:
  - for fol in @user.followers
    =fol.name
%p
Messages:

%p
=link_to 'Conversations', user_conversations_path(@user)

%p

%p

-if current_user == @user
  =link_to 'Inbox', user_messages_path(@user)
  
%p  
thumb
= image_tag @user.avatar.url(:thumb)
medieum
= image_tag @user.avatar.url(:medium)
origininal
= image_tag @user.avatar.url(:original)
none
= image_tag @user.avatar.url